/*header*/
#header{
    color:black;
    .icon1{
        padding:0 30px;
        cursor:pointer;
        &:hover{
            color:blue;
        }
    }
    .icon2{
        cursor:pointer;
        &:hover{
            color:blue;
        }
    }
    .globe{
        padding:0 5px;
        color:green;
        font-size:55px;
        cursor:pointer;
    }
    .mainNav{
       
      li{
        font-weight: bold;
          font-size: 15px;
          padding:0 20px;
          margin: auto;
          a{
          color:black;

              position:relative;
              &::after{
                  content: '';
                  transition:.2s ease-in-out;
                  position:absolute;
                  left:0;
                  bottom:0;
                  right:0;
                  height:2px;
                  background:green;
                  width:0;
                  margin:auto;

              }
              &:hover{
                  &::after{
                      width:60px;
                      margin:auto;
                  }
              }
          }
      }
    }
}

/*header end */
